.footer {
    text-align: center;
    padding: 60px;
    background-color: #2c2b2b;
}


.links {
  font-size: 50px;
  color:lightgreen;
}

p {
  font-size: 20px;
  color: black;
}

.fa-fw {
    text-align: center;
    width: 1.25em;
    color: lightgreen;
}
